{% extends 'header.html' %}

{% block page-content %}
<div class="search-container">
    <form>
        <input type="search" name="search-bar" id="search-bar" placeholder="Search for meals" />
        <div style="position: relative; width: 300px;">
            <div id="suggestions">
                <ul></ul>
            </div>
        </div>
        <input type="submit" style="margin-top: 10px" class="btn btn-primary" value="Search" />
    </form>
</div>
<script  src="/static/scripts.js"></script>
{% endblock %}